<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container">

		<!-- Logo -->
        <div class="logo-container text-center">
            <img src="../assets/logo.png" alt="Logo" class="logo img-fluid">
            <p class="app-name">TripTock</p>
            <h2 class="page-title">Sign Up</h2>
        </div>

        <!-- Form -->
        <form class="p-4" id="sign-up-form">
            <div class="mb-3">
                <input type="text" class="form-control custom-input" id="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="email" class="form-control custom-input" id="email" placeholder="Email address" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control custom-input" id="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control custom-input" id="confirm-password" placeholder="Confirm Password" required>
            </div>
        </form>

		

        <!-- Button -->
        <button type="submit" class="btn btn-primary d-grid col-6 mx-auto" form="sign-up-form">Sign up</button>

		<!-- Login Link -->
        <div class="text-center my-3">
            <a href="signin.html" class="account-link">Got an account?</a>
        </div>


    </div>
    </div>

    <!-- Bootstrap JS and dependencies-->
	<script src="../css/bootstrap.bundle.min.js"></script>
</body>
</html>